endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;database=vrp;password="



###Core###
start mapmanager
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start GHMattiMySQL
start vrp
start chat
start vrp_ghmattimysql

###Cellphone###
start gcphone
start mysql-async

###"VRP"###
start creative-character
start vrp_login
start vrp_tattoos
start vrp_adv_garages
start lux_vehcontrol
start vrp_barbershop
start vrp_policia
start vrp_caixaeletronico
start vrp_registradora
start vrp_tablet
start vrp_animacoes
start vrp_cruiser
start vrp_garages
start vrp_itemdrop
start vrp_interiores
start vrp_realista
start vrp_loading
start vrp_hud
#start vrp_hud2
start vrp_pets
start vrp_rastrear
start vrp_sounds
start vrp_doors
start vrp_armas
start vrp_lojaderoupa
start vrp_roupaseup
start vrp_veiculos
start vrp_motos
start vrp_viaturas
start vrp_hookers
start vrp_visualsettings
start vrp_legacyfuel
start vrp_identidade
start vrp_jewelry
start vrp_mapas
start vrp_nitro
start vrp_chuveiro
start vrp_radar
start vrp_helpdesk
start vrp_ignore
start vrp_notify
start vrp_emergencyblips
start vrp_rouboarmas
start vrp_trafico
start vrp_progressbar
start vrp_lavagem
start vrp_payday
start gessohospital
start vSync
start vrp_player
start vrp_admin
start vrp_creative
start vrp_control_people
start vrp_weaponsdamage

###Jobs###
start emp_contrabandista
start emp_mecanico
start emp_taxista
start emp_motorista
start emp_drogas
start emp_pescador
start emp_assassino
start emp_policia
start emp_paramedico
start emp_race
start emp_hospital
start emp_desmanche
start emp_caminhao
start emp_minerador
start emp_housethief
start emp_eletricista
start leiteiro_coletar
start leiteiro_entregas
start lenhador_coletar
start lenhador_entregas
start lixeiro_coletar
start lixeiro_despejar
start carteiro_coletar
start carteiro_entregas
start unoEscadaPredio

###"NAVS"###
start nav_ammunation
start nav_bancos
start vrp_banconl
start vrp_banking
start vrp_mysql
start nav_contrabando
start nav_departamento
start nav_extras
start nav_pescador
start nav_assassino
start nav_jewelry
start nav_caminhao
start nav_mafia
start nav_minerador
start nav_yakuza
start nav_mc
start yume_airport
start vrp_roubos
start vrp_taxi
start noportals
start emp_drugs
start entrega_coca
start entrega_metanfetamina
start entrega_maconha
#start nav_nubank
start crz_emotes
start vrp_concessionaria
#start offred_lavanderia
start minimap
start offred_carshop
start vrp_assalto_banco
start mhacking
start vrp_scoreboard
start vrp_inventario
start sks_animacoes
start emp_lc
start Luzes-ELS
start pNotify
start vrp_dmvschool
start crz_arsenal
start crz_pensamentos
start bonoro_logdiscord
start HG_AntiCheat
start AntiCheat_Hero
start DHDEV
start mewtwo
start vrp_antijogo

##RJ##
start pcivil
start letreiro_rio
start nubank
start base_bope
start prf_base
start policiafederal
start batalhaopraiapmerj
start Favela
start favelabarragem
start favelas
start FavelaCD
start surfboard
start xpk_reboque
start st-cctv
start prisonlobbys
start cellblock
start banner_anim
start vrp_changename
start nav_mec
start cityhallv2
start HPillboxParking
start lafa2k_siriolibanes

##CARS##
start vrp_veiculosbr
start gmz_logs
start mumble-voip
start rp-radio
start npc_control

sv_scriptHookAllowed 0

#rcon_password
#rcon_password 83064712526

sets banner_detail "https://i.imgur.com/Hx7eGjP.jpg"
sets banner_connecting "https://i.imgur.com/pWi61Fw.jpg"
sets locale "pt-BR"
sets Mapa "NitroPoit v3.0"
set Site "jogar.nitro-point.com"
sets Discord "discord.gg/eeyC78J"
sets tags "[BRASIL],br,Roleplay,brasil,fivem,brasil fivem,servidor brasileiro,rj,whitelist fast,brasileiro,pm,pmerj,bope,whitelist,br,servidor br,carros brasileiro,carros importados,base br,base brasileira,roleplay,roleplay brasileiro,roleplay br,roleplay serio,rp br,rp,rio de janeiro,economia balanceada,economia boa,ANTI-DDOS"



sv_hostname "^7[^6B^7R^6A^7S^6I^7L^7] ^6🔥NITROPOINT ROLEPLAY🔥 ^7|^6 SEM WHITELIST ^7|^6💰300K ATÉ O ID 2000💰^7|^6 TEMA RJ ^7|^6 STAFF ATIVA 24HRS ^7|^6 PING BRASILEIRO ^7|^6 BASE OTIMIZADA ^7|^6 FPS 80+ ^7|^6 VAGAS POLICIA E FACÇÕES ^7|^6 discord.gg/eeyC78J ^7|^7 TAGS: nexus atomic narnia rox nox playhard crypto rise atlantis origin oasis kings american brasilia ilhabela zenites new united conexao aliaça cidade arcadia south mega suburban wolf infinity kamikaze nzk"

load_server_icon server.png
#sv_master1 ""

sv_authMaxVariance 1
sv_authMinTrust 5

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.hg_anticheat command.sets allow

#set ac_webhook "https://discordapp.com/api/webhooks/730054635246714951/kbUQ4vKqY-7cIV-xHkmhCC8AKeI21nHmwqRKDGSUW-66QgcicrpXyLjJuG7dA2hFwrq5"
#set ac_webhook_anthack "https://discordapp.com/api/webhooks/730055351914725407/GD2118l3X-uC45-9MET1SNtKGEYw-h4eIvJzlhBW3S-h-qLHdgZ1mR0xSkPWST5WgFC_"

onesync_enabled 1
sv_maxclients 300
sv_endpointprivacy true

set steam_WebApiKey C946F0898DE95CA3794EB0751537503F
sv_licenseKey 2zfd2w4vcbkzy2qo4gcqiud4og04h2za
