* {
	font-family: "Roboto";
	user-select: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: 300;
}

::-moz-selection {
	background: #171717;
	color: #fff;
}

::selection {
	background: #171717;
	color: #fff;
}

::-moz-selection {
	background: #fff;
	color: #fff;
}

.body {
	background: url("https://img.freepik.com/vetores-gratis/fundo-branco-elegante-com-linhas-brilhantes_1017-17580.jpg?size=626&ext=jpg") 100% 100%;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	padding-right: 100px;
	overflow: hidden;
}

.wrapper {
	max-width: 1130px;
	height: 100%;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-menu #ul {
	display: flex;
}

.top-menu #ul #li {
	margin-left: 25px;
}

.top-menu .info-conce {
	font-size: 13px;
	white-space: nowrap;
	font-weight: 400;
}

.logo img {
	width: 1080px;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 610px;
	padding-top: -10px;
}

@media (max-width: 800px) {
	.main {
		padding-bottom: 35px;
	}
}

.main h1 {
	font-weight: 300;
	margin-bottom: 55px;
	font-size: 28px;
}

@media (max-width: 900px) {
	.main h1 {
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	.main h1 {
		font-size: 16px;
	}
}

.main h2	{
	color: #ff3333 ;
	font-weight: 300;
	margin-bottom: 55px;
	font-size: 28px;
}

.btns {
	font-size: 14px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}

a.btn {
	border: 2px solid #171717;
	padding: 0 20px;
	height: 35px;
	line-height: 31px;
	width: 160px;
	display: block;
	text-align: center;
	margin-right: 10px;
	background: #171717;
	color: #fff;
	transition: all 0.1s;
}

a.btn:hover {
	color: #171717;
	background: #fff;
}

.btns span {
	margin-right: 10px;
}

.main-footer {
	border-top: 1px solid #171717;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	padding: 20px 0 0 0;
}

.copyright {
	white-space: nowrap;
	font-weight: 400;
}

.social {
	display: flex;
}

.social span {
	margin-left: 15px;
	white-space: nowrap;
	font-weight: 400;
}

.social #ul {
	display: flex;
}

.social #ul #li {
	margin-left: 15px;
}

.social .info-conce {
	white-space: nowrap;
	font-weight: 400;
}

.off-aside {
	background: #171717;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 70px;
	box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1);
	transition: width 0.4s;
	display: flex;
}

.info {
	position: relative;
	width: 70px;
	height: 100%;
	background: #171717;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	cursor: pointer;
}

.off-aside .text {
	color: #ccc;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;
	white-space: nowrap;
	width: 100vh;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.info span {
	font-weight: 300;
	color: #fff;
	line-height: 18px;
}

.aside-btn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #171717;
	text-align: center;
	line-height: 50px;
	position: absolute;
	left: -25px;
	top: calc(50% - 25px);
	cursor: pointer;
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
}

.aside-btn .fa {
	color: #fff;
	font-size: 20px;
}

.aside-menu {
	flex-grow: 1;
	text-align: center;
}

.aside-menu #ul {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

.aside-menu .info-conce {
	font-size: 30px;
	display: block;
	padding: 15px;
	color: #fff;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.aside-menu .info-conce:hover {
	font-weight: 400;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.modifier {
	width: 90%;
	transition: width 0.6s cubic-bezier(0.3, 0, 0, 1.3);
}

.container-item {
	margin-top: 20px;
	width: 95%;
	height: 96vh;
	max-height: 96vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.car-card {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.car-card a {
	color: inherit;
}

.car-card a:hover {
	color: #ff3333;
}

.car-card:hover .photo {
	-webkit-transform: scale(1.3) rotate(3deg);
	transform: scale(1.3) rotate(3deg);
}

.car-card .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}

#fechar {
	position: absolute;
	font-size: 30px;
	right: 1840px;
	top: 30px;
	color: #171717;
}

.car-card .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}

.car-card .details,
.car-card .details ul {
	margin: auto;
	padding: 0;
	list-style: none;
}

.car-card .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	margin: auto;
	transition: left .2s;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 10px;
	width: 100%;
	font-size: .9rem;
}

.car-card .details a {
	-webkit-text-decoration: dotted underline;
	text-decoration: dotted underline;
}

.car-card .details ul li {
	display: inline-block;
}

.car-card .details .author:before {
	font-family: FontAwesome;
	margin-right: 10px;
}

.car-card .details .date:before {
	font-family: FontAwesome;
	margin-right: 10px;
}

.car-card .details .tags ul:before {
	font-family: FontAwesome;
	content: "\f02b";
	margin-right: 10px;
}

.car-card .details .tags li {
	margin-right: 2px;
}

.car-card .details .tags li:first-child {
	margin-left: -4px;
}

.car-card .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}

.car-card .description h1,
.car-card .description h2 {
	font-family: Poppins, sans-serif;
}

.car-card .description h1 {
	line-height: 1;
	margin: 0;
	font-size: 1.7rem;
}

.car-card .description h2 {
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	color: #a2a2a2;
	margin-top: 5px;
}

.car-card .description .read-more {
	text-align: right;
}

.car-card .description .read-more a {
	color: #ff3333;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.car-card .description .read-more a:after {
	content: "\f061";
	font-family: FontAwesome;
	margin-left: -10px;
	opacity: 0;
	vertical-align: middle;
	transition: margin .3s, opacity .3s;
}

.car-card .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}

.car-card p {
	position: relative;
	margin: 1rem 0 0;
}

.car-card p:first-of-type {
	margin-top: 1.25rem;
}

.car-card p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #ff3333;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}

.car-card:hover .details {
	left: 0%;
}

@media (min-width: 640px) {
	.car-card {
		flex-direction: row;
		max-width: 700px;
	}
	.car-card .meta {
		flex-basis: 40%;
		height: auto;
	}
	.car-card .description {
		flex-basis: 60%;
	}
	.car-card .description:before {
		-webkit-transform: skewX(-3deg);
		transform: skewX(-3deg);
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.car-card.alt {
		flex-direction: row-reverse;
	}
	.car-card.alt .description:before {
		left: inherit;
		right: -10px;
		-webkit-transform: skew(3deg);
		transform: skew(3deg);
	}
	.car-card.alt .details {
		padding-left: 25px;
	}
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: transparent;
}